.cw-dialogs-alarm-dialog {
    position: absolute;
    z-index: 100;
    font-family: sans-serif;
    font-size: 12px;
    width: 365px;
    height: 166px;
}

.cw-dialogs-alarm-dialog * {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

.cw-dialogs-alarm-dialog a {
    text-decoration: none;
}

.dj_ie .cw-dialogs-alarm-dialog {
    border: 1px solid black;
}

.cw-dialogs-alarm-dialog .content {
    position: relative;
    /* 背景颜色 */
    background-color: rgba(0, 52, 68, .7);
    color: #fff;
    overflow: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.cw-dialogs-alarm-dialog .arrow {
    position: absolute;
    width: 0px;
    height: 0px;
    line-height: 0px;
    /*为了防止ie下出现题型*/
    border-top: 10px solid rgba(0, 52, 68, .7);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 45%;
    /*bottom: -60px;  */
}

.cw-dialogs-alarm-dialog .close {
    position: absolute;
    top: 7px;
    right: 5px;
    cursor: pointer;
    background: url(http://serverapi.arcgisonline.com/jsapi/arcgis/2.6/js/dojo/dijit/themes/claro/layout/images/tabClose.png) no-repeat scroll 0 0 transparent;
    width: 12px;
    height: 12px;
}

.cw-dialogs-alarm-dialog .close:hover {
    background-color: #F7FCFF;
}

.cw-dialogs-alarm-dialog .title {
    font-weight: bold;
    background-color: rgba(0, 52, 68, .7);
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.left {
    float: left;
}

.capture {
    width: 360px;
    height: 156px;
    background: rgba(0, 52, 68, .7);
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #003444;
}

.capture::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(100px);
    background: inherit;
    z-index: -100;
}

.capture-top {
    margin: 8px;
    height: 90px;
    padding-top: 8px;
    margin-top: 0;
    margin-right: 0;
}

.capture-bottom {
    width: 100%;
    height: 49px;
    border-top: 1px solid #3a565e;
    line-height: 49px;
}

.capture-bottom .capture-button {
    width: 180px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}

.capture-bottom .green,
.capture-bottom .red {
    font-size: 16px;
    color: #fff;
}

.capture-bottom .green {
    background: #01bbd4;
}

.capture-bottom .red {
    background: #a24444;
}

.grey-blue {
    display: block;
    width: 90px;
    height: 30px;
    margin: 9.5px 15px;
    background: #334353;
    border-radius: 2px;
}

.grey-blue a {
    width: 44px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    margin-top: 1px;
    color: #ccc;
}

.grey-blue .first-a {
    margin-left: 1px;
}
/*注意：按钮的active*/

.grey-blue .active {
    background: #0cdcf5;
    color: #fff;
}

.capture-top .mess>p {
    font-size: 12px;
}

.capture-top img {
    width: 66px;
    height: 88px;
}

.capture-top .mess {
    width: 286px;
    font-size: 14px;
    margin-top: 5px;
    color: #fff;
}

.capture-top .img-div {
    width: 66px;
    height: 88px;
    position: relative;
    z-index: 2;
}

.img-div .more {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.7;
}

.capture-top .mess img {
    width: 12px;
    height: 12px;
    margin: 0 6px 0 8px;
}

.capture-top .mess img,
.capture-top .mess p {
    display: inline-block;
}

.capture-top .mess p {
    width: 252px;
    color: #9cecff;
}

.capture-top .mess .img-three {
    margin: 3.5px 6px 0 8px;
}